@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Silkscreen&display=swap');

@font-face {
  font-family: 'Genshin';
  src: url('/assets/font.eot');
  src: url('/assets/font.eot?#iefix') format('embedded-opentype'),
       url('/assets/font.woff2') format('woff2'),
       url('/assets/font.woff') format('woff'),
       url('/assets/font.svg#HYWenHei-HEW') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  min-height: 100%;
  background-color: #defcff;
}