@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Silkscreen&display=swap');

html,
body {
  background-color: #ff7a7a;
  text-align: center;
}

.title {
  font-family: 'Silkscreen';
}